{% extends './base.html' %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">Fintech XYZ</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" href="{% url 'inquiry_page' %}">Cek Saldo</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" href="/payment-link">Payment Link</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" href="{% url 'topup_page' %}">Topup</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" href="{% url 'transfer_page' %}">Transfer</a>
		  </li>
		  <li class="nav-item btn btn-info py-0">
			<a class="nav-link active" aria-current="page" href="{% url 'logout_page' %}">Logout</a>
		  </li>
		</ul>
	  </div>
	</div>
</nav>

<div class="container">{% block body %} {% endblock %}</div>
{% endblock %}
