<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<title>Fintech XYZ</title>

	<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script>
		const AUTH_URL = "http://34.143.212.167:5000"
		const AUTH_LOGIN_URL = `${AUTH_URL}/login`
		const AUTH_REGISTER_URL = `${AUTH_URL}/register`
		const AUTH_WHOAMI_URL = `${AUTH_URL}/whoami`

		const TOPUP_HOST = "34.101.127.206"
		const TOPUP_PORT = "80"
		const TOPUP_URL = `http://${TOPUP_HOST}:${TOPUP_PORT}/topup`

		const INQUIRY_URL = "http://35.192.154.100:8000"
		const INQUIRY_CEK_SALDO_URL = `${INQUIRY_URL}/cek-saldo`
    const INQUIRY_RIWAYAT_TRANSAKSI_URL = `${INQUIRY_URL}/riwayat-transaksi`

		var authenticatedUsername;

		function getUsernameFromAccessToken(accessToken) {
			if (accessToken == null) {
				return null
			}

			const response = $.ajax({
				url: 	AUTH_WHOAMI_URL,
				headers: {"authentication": `Bearer ${accessToken}`},
				async: false
			}).responseJSON

			if (response.success) {
				return response.username
			}
			return null
		}

		function needsAuthentication() {
			const username = getUsernameFromAccessToken(Cookies.get("access_token"))
			if (username == null) {
				window.location.href = "{% url 'login_page' %}"
			}
			authenticatedUsername = username
		}

		function needsToBeNotAuthenticated() {
			const username = getUsernameFromAccessToken(Cookies.get("access_token"))
			if (username != null) {
				window.location.href = "{% url 'inquiry_page' %}"
			}
		}

	</script>
	{% block headerjs %}
	{% endblock %}
</head>
<body class="min-vh-100 min-vw-100">
	  {% block content %}{% endblock %}
</body>
{% block js %}
{% endblock %}
</html>
