{% extends 'base/base_navbar.html' %}

{% block body %}
<div class="mt-5">
  <p class="mb-5" style="font-size: 40px;">Payment link memberikan anda akses untuk pembayaran yang mudah hanya dengan 1 link saja.</p>
  <p style="font-size: 40px;">Buat payment link baru:</p>
  <div class="d-flex flex-row align-items-center mt-4 mb-5">
    <p class="font-weight-normal m-0" style="font-size: 32px;">Nominal: &nbsp;Rp.</p>
    <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="ps-2" id="nominalInput" style="font-size: 32px; min-width: 50px;" />
  </div>
  <button class="btn btn-primary btn-sm px-3" id="submit" style="font-size: 24px;" data-toggle="modal">Buat Payment Link</button>
</div>

<div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column justify-content-center align-items-center text-center my-4">
        <h3 class="mb-5">Berikut payment link anda:</h3>
        <p class="mb-3" style="font-size: 20px;">Nominal: <strong class="font-weight-bold" id="nominal"></strong></p>
        <p class="mb-3" style="font-size: 20px;">Silahkan bagikan link ini ke pelanggan anda</p>
        <a href="" class="mb-5" id="link" style="font-size: 24px; cursor: pointer;" target="_blank"></a>
        <button type="button" class="btn btn-primary" id="closeBtn">Tutup</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block headerjs %}
<script>
needsAuthentication()
</script>
{% endblock %}

{% block js %}
<script>
  const CREATE_PAYMENT_URL = 'http://35.202.188.142:8080/payment-link/create'
  const accessToken = Cookies.get("access_token")

  $(document).ready(function() {
    function numberWithCommas(x) {
      return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ".");
    }

    $('#submit').click(function() {
      const nominalInput = $("#nominalInput").val()
      if (nominalInput == "" | nominalInput == 0) {
        $("#nominalInput").focus()
      } else {
        $.ajax({
          type: "POST",
          url: CREATE_PAYMENT_URL,
          headers: {
            "authentication": `Bearer ${accessToken}`
          },
          data: JSON.stringify({
            "nominal": parseInt(nominalInput)
          }),
          success: (data) => {
            data.link = 'http://34.143.212.167/payment-link/' + data.link
            $("#nominal").text("Rp. " + numberWithCommas(data.nominal) + ",00")
            $("#link").attr('href', data.link)
            $("#link").text(data.link)
            
            $('#responseModal').modal('show');   
          },
          error: (err) => {
            console.log(err)
            alert("Something is wrong, please try again later")
          },
          contentType: "application/json",
          dataType: 'json',
          async: false
        })
      }
    })

    $('#closeBtn').click(function() {
      $("#nominalInput").val("")
      $('#responseModal').modal('hide'); 
    })
  });
</script>
{% endblock %}