{% extends 'base/base_navbar.html' %}

{% block body %}
<div class="d-flex flex-column mt-5">
  <h1>Selamat datang, <span id="username"></span>!</h1> <br/>
  <h1>Saldo sekarang: <b><u><span id="saldo"></span></u></b></h1>
  <h1>Nomor rekening: <b><u><span id="no_rekening"></span></u></b></h1>
  <br/><br/><br/>
  <div class="d-flex justify-content-between">
    <h2>Riwayat transaksi:</h2>
    <button type="button" class="btn btn-primary" onclick="refresh()">
      Refresh
    </button>
  </div>
  <table class="table table-bordered table-hover mt-4">
    <thead class="table-primary">
      <tr>
        <th>No.</th>
        <th>ID Transaksi</th>
        <th>Waktu</th>
        <th>Nominal Transaksi</th>
        <th>Keterangan</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody id="table-body">
    </tbody>
  </table>
</div>
{% endblock %}

{% block headerjs %}
<script>
needsAuthentication()

function cekSaldo(accessToken) {
  const response = $.ajax({
      url: 	INQUIRY_CEK_SALDO_URL,
      headers: {"authentication": `Bearer ${accessToken}`},
      async: false
    }).responseJSON

  if (response && response?.success) {
    return response
  }
  return null
}

function getRiwayatTransaksi(accessToken, force_update = false) {
  const response = $.ajax({
      url: 	`${INQUIRY_RIWAYAT_TRANSAKSI_URL}?force_update=${force_update}`,
      headers: {"authentication": `Bearer ${accessToken}`},
      async: false
    }).responseJSON

  if (response && response?.success) {
    return response
  }
  return null
}
</script>
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  function updateRiwayat(formatter, responseRiwayat) {
    if (responseRiwayat) {
      $("#table-body").empty()
      responseRiwayat?.riwayat.forEach((trx, id) => {
        const nominal = trx?.tipe == "debit" ? 
            `<span class="text-success">+ ${formatter.format(trx?.nominal)}</span>` 
            : `<span class="text-danger">- ${formatter.format(trx?.nominal)}</span>` 
        const row = `<tr>\
                      <th>${id + 1}</th>\
                      <td>${trx?.id_transaksi}</td>\
                      <td>${trx?.waktu}</td>\
                      <td>${nominal}</td>\
                      <td>${trx?.keterangan}</td>\
                      <td>${trx?.status}</td>\
                    </tr>`
        $("#table-body").append(row)
      })
    }
  }

  function refresh() {
    const responseRiwayat = getRiwayatTransaksi(accessToken, true)
    updateRiwayat(formatter, responseRiwayat)
  }

  $("#username").text(authenticatedUsername)
  const accessToken = Cookies.get("access_token")
  if (accessToken != null) {
    const formatter = new Intl.NumberFormat('id-ID', {
      style: 'currency',
      currency: 'IDR',
    })
    const responseSaldo = cekSaldo(accessToken)
    const responseRiwayat = getRiwayatTransaksi(accessToken)
    
    if (responseSaldo) {
      $("#saldo").text(formatter.format(responseSaldo?.saldo))
      $("#no_rekening").text(responseSaldo?.no_rekening)
    }

    updateRiwayat(formatter, responseRiwayat)
  }
</script>
{% endblock %}
