{% extends 'base/base.html' %}

{% block content %}
<div id="main-container" class="vh-100 vw-100 d-flex flex-column justify-content-center align-items-center">
	<div id="login-alert" class="alert alert-warning d-none" role="alert">
	</div>
	<h3>Login</h3>
	<form class="d-flex flex-column justify-content-center">
		<div class="mb-3">
		  <label for="username-input" class="form-label">Username</label>
		  <input minlength="8" type="text" class="form-control" id="username-input">
		</div>
		<div class="mb-3">
		  <label for="password-input" class="form-label">Password</label>
		  <input minlength="8" type="password" class="form-control" id="password-input">
		</div>
		<button id="login-btn" class="btn btn-primary">Login</button>
		<p class="mt-5">Belum memiliki akun? <a href="{% url 'register_page' %}">Klik disini</a> untuk mendaftar</p>
	</form>
</div>
{% endblock %}

{% block headerjs %}
<script>
needsToBeNotAuthenticated()
</script>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
	
	const loginAlert = $("#login-alert")
	const afterRegister = new URLSearchParams(window.location.search).get("afterRegister");

	if (afterRegister === 'true') {
		loginAlert.text("Registration successful!, please login")
		loginAlert.removeClass("d-none")
	}

    $("#login-btn").click((e) => {
		e.preventDefault()
		const username = $("#username-input").val()
		const password = $("#password-input").val()

		loginAlert.addClass("d-none")

		$.ajax({
			type: "POST",
			url: AUTH_LOGIN_URL,
			data: JSON.stringify({
					"username": username, "password": password
				}),
			success: (data) => {
				Cookies.set("access_token", data.access_token)
				Cookies.set("refresh_token", data.refresh_token)
				window.location.href = "{% url 'inquiry_page' %}"
			},
			error: (data) => {
				loginAlert.text(data.responseJSON.message)
				loginAlert.removeClass("d-none")
			},
			contentType: "application/json",
			dataType: 'json'
		});
	})
});
</script>
{% endblock %}