{% extends 'base/base.html' %}

{% block content %}
<p>Logging out, thanks for using Fintech XYZ!</p>
{% endblock %}

{% block headerjs %}
<script>
needsAuthentication()
</script>
{% endblock %}

{% block js %}
<script>
console.log(Cookies.get())
Cookies.remove("access_token")
Cookies.remove("refresh_token")
window.location.href = "{% url 'welcome_page' %}"
</script>
{% endblock %}