{% extends 'base/base_navbar.html' %}

{% block body %}
<div class="mt-5">
  <p class="mb-4" style="font-size: 32px;">Membayar untuk payment-link: <strong id="code"></strong></p>
  <p class="mb-5" style="font-size: 40px;">Nominal untuk dibayarkan: <strong id="nominal"></strong></p>
	<p class="mb-5" style="font-size: 32px;">Dengan konfirmasi pembayaran, nominal akan dipotongkan dari saldo anda</p>
  <button class="btn btn-primary btn-sm px-3" id="submit" style="font-size: 20px;">Konfirmasi Bayar</button>
</div>
{% endblock %}

{% block headerjs %}
<script>
needsAuthentication()
</script>
{% endblock %}

{% block js %}
<script>
	const GET_PAYMENT_URL = 'http://35.202.188.142:8080/payment-link/' + '{{ code }}'
	const PAY_PAYMENT_URL = 'http://35.202.188.142:8080/payment-link/pay'
  const accessToken = Cookies.get("access_token")

	$(document).ready(function() {
    function numberWithCommas(x) {
      return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ".");
    }

		// Request GET Payment Link
		$.ajax({
			type: "GET",
			url: GET_PAYMENT_URL,
			headers: {
				"authentication": `Bearer ${accessToken}`
			},
			success: (data) => {
				if (data.success === true) {
					$("#nominal").text("Rp. " + numberWithCommas(data.nominal) + ",00")
					$("#code").text(data.code)
				} else {
					window.location.href = "{% url 'inquiry_page' %}"
				}
			},
			error: (err) => {
				console.log(err)
				alert("Payment link is unavailable")
				window.location.href = "{% url 'inquiry_page' %}"
			},
			contentType: "application/json",
			dataType: 'json',
			async: false
		})

		// Request POST Pay Payment Link
		$('#submit').click(function() {
			$.ajax({
				type: "POST",
				url: PAY_PAYMENT_URL,
				headers: {
					"authentication": `Bearer ${accessToken}`
				},
				data: JSON.stringify({
					"code": '{{ code }}'
				}),
				success: (data) => {
					if (data.success) {
						alert(data.message)
						window.location.href = "{% url 'inquiry_page' %}"
					} else {
						alert(data.message)
					}
					
				},
				error: (err) => {
					console.log(err)
					alert("Something is wrong, please try again later")
				},
				contentType: "application/json",
				dataType: 'json',
				async: false
			})
    })
  });
</script>
{% endblock %}