{% extends 'base/base.html' %}

{% block content %}
<div class="vh-100 vw-100 d-flex flex-column justify-content-center align-items-center">
	<div id="register-alert" class="alert alert-warning d-none" role="alert">
	</div>
	<h3>Register</h3>
	<form class="d-flex flex-column justify-content-center">
		<div class="mb-3">
		  <label for="username-input" class="form-label">Username</label>
		  <input minlength="8" type="text" class="form-control" id="username-input">
		</div>
		<div class="mb-3">
		  <label for="password-input" class="form-label">Password</label>
		  <input minlength="8" type="password" class="form-control" id="password-input">
		</div>
		<div class="mb-3">
		  <label for="password-input-2" class="form-label">Konfirmasi Password</label>
		  <input minlength="8" type="password" class="form-control" id="password-input-2">
		</div>
		<button class="btn btn-primary" id="register-btn">Register</button>
		<p class="mt-5">Sudah mendaftar? <a href="{% url 'login_page' %}">Klik disini</a> untuk login</p>
	</form>
</div>
{% endblock %}

{% block headerjs %}
<script>
needsToBeNotAuthenticated()
</script>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $("#register-btn").click((e) => {
		e.preventDefault()
		const username = $("#username-input").val()
		const password = $("#password-input").val()
		const password2 = $("#password-input-2").val()
		const regAlert = $("#register-alert")
		
		regAlert.addClass("d-none")

		if (username.length < 8 || password.length < 8) {
			regAlert.text("Username atau password minimal 8 karakter!")
			regAlert.removeClass("d-none")
		} else if (password == password2) {
			$.ajax({
				type: "POST",
				url: AUTH_REGISTER_URL,
				data: JSON.stringify({
						"username": username, "password": password, "password2": password2
					}),
				success: (data) => {
					window.location.href = "{% url 'login_page' %}?afterRegister=true"
				},
				error: (data) => {
					regAlert.text(data.responseJSON.message)
					regAlert.removeClass("d-none")
				},
				contentType: "application/json",
				dataType: 'json'
			});

		} else {
			regAlert.text("Kedua password tidak cocok!")
			regAlert.removeClass("d-none")
		}
	})
});

</script>
{% endblock %}