{% extends 'base/base_navbar.html' %} {% block body %}
<!-- TODO: Continue the HTML and CSS styling according to the wireframe -->
<div id="topup-danger" class="alert alert-danger d-none" style="margin-top: 2rem" role="alert"></div>
<h1 style="margin-top: 2rem">Topup</h1>
<p style="font-size: 28px">
  Topup saldo anda untuk melakukan pembayaran, transfer, dan lainnya dengan mudah
</p>
<p style="font-size: 28px; margin-top: 2rem">
  Saldo anda sekarang:
  <span id="account-balance" style="font-weight: 700; text-decoration: underline">Rp0,-</span>
</p>
<form style="font-size: 20px;">
  <div>
    <label for="nominal">Nominal: Rp</label>
    <input type="text" id="nominal" name="nominal" placeholder="1.000.000" />
  </div>
  <button id="topup-btn" class="btn btn-primary">Topup</button>
</form>
{% endblock %} {% block headerjs %}
<script>
  needsAuthentication();
</script>
{% endblock %} {% block js %}
<script>
$(document).ready(function() {

  $.ajax({
			type: "GET",
			url: INQUIRY_CEK_SALDO_URL,
      headers: {
        "authentication": `Bearer ${Cookies.get("access_token")}`
      },
			success: (data) => {
        $("#account-balance").text(`Rp${data.saldo},-`);
			},
			error: (data) => {
        console.log(data);
			},
  });
	
	$("#topup-btn").click((e) => {
		e.preventDefault()
		const amount = $("#nominal").val()
        const topupDanger = $("#topup-danger")

		topupDanger.addClass("d-none")

		$.ajax({
			type: "POST",
			url: TOPUP_URL,
            headers: {"authentication": `Bearer ${Cookies.get("access_token")}`},
            data: JSON.stringify({
					"amount": amount
				}),
			success: (data) => {
                topupDanger.text(data.message + ". Refreshing in 5 seconds")
                topupDanger.addClass("alert-success")
                topupDanger.removeClass("alert-danger d-none")
                setTimeout(() => {  window.location.href = "{% url 'topup_page' %}"; }, 5000);
			},
			error: (data) => {
                try{
                    topupDanger.text(data.message)
                }
                catch(err) {
                    topupDanger.text("An Unknown Error Occured. Please Try Again Later")
                }
				topupDanger.removeClass("d-none")
			},
			contentType: "application/json",
			dataType: 'json'
		});
	})
});
</script>
{% endblock %}
