{% extends 'base/base_navbar.html' %} {% block body %}
<!-- TODO: Continue the HTML and CSS styling according to the wireframe -->
<h1 style="margin-top: 2rem">Transfer</h1>
<p style="font-size: 28px">
  Transfer uang anda ke rekening lain dengan mudah, baik itu secara langsung
  atau untuk nanti
</p>
<p style="font-size: 28px">
  Saldo anda sekarang:
  <span
    style="font-weight: 700;
          text-decoration: underline"
    id="account-balance"
  >
  </span>
  <script>
    getBalanceCheck()
  </script>
</p>
<form style="font-size: 20px; margin-top: 3rem">
  <div style="margin-bottom: 1rem">
    <label for="rekening-tujuan">Rekening Tujuan:</label>
    <input
      type="text"
      id="rekening-tujuan"
      name="rekening-tujuan"
      placeholder="7051497026"
      required
    />
  </div>
  <div>
    <label for="nominal">Nominal: Rp</label>
    <input
      type="number"
      id="nominal"
      name="nominal"
      placeholder="10000000"
      required
      />
  </div>
  <div style="margin-top: 1rem">
    Waktu Transfer:<br />
    <input
      type="radio"
      id="langsung"
      value="langsung"
      name="waktu-transfer"
      onclick="enablingSchedule(false)"
    />
    <label for="langsung">Langsung</label><br />
    <input
      type="radio"
      id="terjadwal"
      value="terjadwal"
      name="waktu-transfer"
      onclick="enablingSchedule(true)"
    />
    <label for="terjadwal">Terjadwal</label>
    <input type="datetime-local" id="schedule" name="schedule" disabled />
  </div>
  <div
    id="early-confirm"
    style="margin-top: 2rem"
    class="btn btn-primary"
    onclick="showConfirmation()"
  >
    Konfirmasi Data Transfer
  </div>
</form>

<!-- confirmation pop up -->
<div
  id="confirmation-overlay"
  style="
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0; left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
    display: none;
    justify-content: center;
    align-items: center;"
>
  <div style="
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 64px;"
  >
    <p style="font-size: 32px; font-weight: 600">Data Transfer Anda</p>
    <br />
    <p style="font-size: 20px">Tujuan Transfer:
      <span id="nama-tujuan-transfer"></span>
      <span style="font-weight: 700" id="rekening-tujuan-transfer"></span>
    </p>
    <p style="font-size: 20px">Nominal: <span style="font-weight: 700" id="nominal-transfer"></span></p>
    <p style="font-size: 20px">Transfer ini akan dilakukan pada:<br/><span style="font-weight: 700" id="tanggal-transfer"></span></p>
    <p style="font-size: 20px">Silahkan konfirmasi transfer untuk melakukan transfer</p>
    <div
      class="btn btn-danger"
      onclick="hideConfirmation()"
    >
      Batalkan
    </div>
    <div 
	  class="btn btn-primary" 
	  id="execute-transfer"
	  onclick="executeTransfer()"
	>
      Konfirmasi Data Transfer
    </div>
  </div>
</div>

<!-- account not found pop up-->
<div
  id="not-found-overlay"
  style="
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0; left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
    display: none;
    justify-content: center;
    align-items: center;"
>
  <div style="
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 64px;"
  >
    <p style="font-size: 32px; font-weight: 600">Data Transfer Anda</p>
    <br />
    <p style="font-size: 20px">
      Rekening tujuan yang anda masukkan <span id="error-transfer" style="font-weight: 700;"></span> tidak ditemukan di sistem kami. <br />
      Silahkan perbaiki data anda terlebih dahulu.
    </p>
    <div 
      class="btn btn-primary"
      onclick="hideErrorConfirmation()"
    >
      Kembali
    </div>
  </div>
</div>

<!-- limit exceeded -->
<div
  id="limit-overlay"
  style="
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0; left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
    display: none;
    justify-content: center;
    align-items: center;"
>
  <div style="
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 64px;"
  >
    <p style="font-size: 32px; font-weight: 600">Data Transfer Anda</p>
    <br />
    <p style="font-size: 20px">
      Nominal yang anda masukkan <span id="limit-exceed" style="font-weight: 700;"></span> 
      melebihi batas sekali transfer <span>(Rp2.000.000.000)<span><br />
      Silahkan perbaiki data anda terlebih dahulu.
    </p>
    <div 
      class="btn btn-primary"
      onclick="hideLimitError()"
    >
      Kembali
    </div>
  </div>
</div>

<!-- balance not enough -->
<div
  id="balance-overlay"
  style="
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0; left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
    display: none;
    justify-content: center;
    align-items: center;"
>
  <div style="
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 64px;"
  >
    <p style="font-size: 32px; font-weight: 600">Data Transfer Anda</p>
    <br />
    <p style="font-size: 20px">
      Nominal yang anda masukkan <span id="desired-nominal" style="font-weight: 700;"></span>
      melebihi saldo anda <span id="current-balance" style="font-weight: 700;"></span><br />
      Silahkan perbaiki data anda terlebih dahulu.
    </p>
    <div
      class="btn btn-primary"
      onclick="hideBalanceError()"
    >
      Kembali
    </div>
  </div>
</div>
{% endblock %} {% block headerjs %}
<script>
needsAuthentication();

const TRANSFER_URL = "http://34.122.149.91:8000/transfer"
const ISNTANT_TRANSFER_URL = `${TRANSFER_URL}/instant`
const SCHEDULED_TRANSFER_URL = `${TRANSFER_URL}/scheduled`
const CHECK_RECEIVER = `${TRANSFER_URL}/check-target`
const INQUIRY_CEK_SALDO = `http://35.192.154.100:8000/cek-saldo`
const accessToken = Cookies.get("access_token")

let NOMINAL = 0
let REKENING_TUJUAN = ''
let NAMA_TUJUAN = ''
let JADWAL_TRANSFER = ''
let ACCOUNT_BALANCE = ''

const enablingSchedule = (isEnabled) => {
    document.getElementById("schedule").disabled = !isEnabled;
};

const hideConfirmation = () => {
    document.getElementById("confirmation-overlay").style.display = "none"
}

const hideErrorConfirmation = () => {
    document.getElementById("not-found-overlay").style.display = "none"
}

const hideLimitError = () => {
    document.getElementById("limit-overlay").style.display = "none"
}

const hideBalanceError = () => {
    document.getElementById("balance-overlay").style.display = "none"
}

const formatter = new Intl.NumberFormat('id-ID', {
    style: 'currency',
    currency: 'IDR',
})

const executeTransfer = () => {
	if (JADWAL_TRANSFER === "SECARA LANGSUNG") {
		makeInstantTransaction()
	}
	else if (JADWAL_TRANSFER !== '') {
		makeDelayedTransaction()
	}
}

const makeInstantTransaction = () => {
	$(document).ready(function() {
		$("#execute-transfer").click((e) => {
			e.preventDefault()
			const response = $.ajax({
				type: "POST",
				url: ISNTANT_TRANSFER_URL,
				headers: {
            		"authentication": `Bearer ${accessToken}`
        		},
				data: JSON.stringify({
					"target_account": REKENING_TUJUAN,
					"nominal": parseInt(NOMINAL)
				}),
				success: (data) => {
					window.location.href = "{% url 'inquiry_page' %}"
				},
				error: (data) => {
					console.log(data.responseJSON.message)
					alert("Something is wrong, please try again later")
				},
				contentType: "application/json",
				dataType: 'json',
				async: false
			})
		})
	})
}

const makeDelayedTransaction = () => {
	$(document).ready(function() {
		$("#execute-transfer").click((e) => {
			e.preventDefault()
			const response = $.ajax({
				type: "POST",
				url: SCHEDULED_TRANSFER_URL,
				headers: {
            		"authentication": `Bearer ${accessToken}`
        		},
				data: JSON.stringify({
					"target_account": REKENING_TUJUAN,
					"nominal": parseInt(NOMINAL),
					"schedule": JADWAL_TRANSFER,
				}),
				success: (data) => {
					window.location.href = "{% url 'inquiry_page' %}"
				},
				error: (data) => {
					console.log(data.responseJSON.message)
					alert("Something is wrong, please try again later")
				},
				contentType: "application/json",
				dataType: 'json',
				async: false
			})
		})
	})
}

const getBalanceCheck = () => {
    const balance_check = $.ajax({
        type: "GET",
        url: INQUIRY_CEK_SALDO,
        headers: {
            "authentication": `Bearer ${accessToken}`
        },
        success: (data) => {
            ACCOUNT_BALANCE = data.saldo;
            const balance_node = document.createElement("span");
            balance_node.className = "balance_node";
            balance_node.append(formatter.format(ACCOUNT_BALANCE));
            const reset_balance = document.getElementsByClassName('balance_node');
            while (reset_balance.length > 0) {
                reset_balance[0].parentNode.removeChild(reset_balance[0]);
            }
            document.getElementById("account-balance").appendChild(balance_node);
        },
        error: (data) => {
            console.log(data);
        },
        async: false
    });
}

const showConfirmation = () => {
        $(document).ready(function() {
                $("#early-confirm").click((e) => {
                        e.preventDefault()
                        REKENING_TUJUAN = $("#rekening-tujuan").val()
                        NOMINAL = $("#nominal").val()

                        if ($('input[name="waktu-transfer"]:checked').val() === "terjadwal") {
                            let schedule = $("#schedule").val()
                            schedule = schedule.split("T")
                            JADWAL_TRANSFER = schedule[0] + " " + schedule[1] + ":00.0"
                        } else if ($('input[name="waktu-transfer"]:checked').val() === "langsung") {
                            JADWAL_TRANSFER = "SECARA LANGSUNG"
                        }

                        if (REKENING_TUJUAN && NOMINAL && JADWAL_TRANSFER) {
                            const balance_error_node = document.createElement("span");
                            const nominal_error_node = document.createElement("span");

                            balance_error_node.className = "balance_error_node";
                            nominal_error_node.className = "nominal_error_node";

                            if (NOMINAL > ACCOUNT_BALANCE) {
                                nominal_error_node.append("(" + formatter.format(NOMINAL) + ")")
                                balance_error_node.append("(" + formatter.format(ACCOUNT_BALANCE) + ")")

                                const reset_balance_error = document.getElementsByClassName('balance_error_node');
                                const reset_nominal_error = document.getElementsByClassName('nominal_error_node');
                                while (reset_nominal_error.length > 0) {
                                    reset_nominal_error[0].parentNode.removeChild(reset_nominal_error[0]);
                                }
                                while (reset_balance_error.length > 0) {
                                    reset_balance_error[0].parentNode.removeChild(reset_balance_error[0]);
                                }

                                document.getElementById("desired-nominal").appendChild(balance_error_node);
                                document.getElementById("current-balance").appendChild(balance_error_node);
                                document.getElementById("balance-overlay").style.display = "flex";
                            } else if (NOMINAL > 2000000000) {
                                nominal_error_node.append("(" + formatter.format(NOMINAL) + ")")

                                const reset_nominal_error = document.getElementsByClassName('nominal_error_node');
                                while (reset_nominal_error.length > 0) {
                                    reset_nominal_error[0].parentNode.removeChild(reset_nominal_error[0]);
                                }

                                document.getElementById("desired-nominal").appendChild(balance_error_node);
                                document.getElementById("limit-overlay").style.display = "flex";
                            } else {
                                // create span element
                                const node_tujuan_rekening = document.createElement("span");
                                const node_tujuan_name = document.createElement("span");
                                const node_nominal = document.createElement("span");
                                const node_jadwal = document.createElement("span");

                                node_tujuan_rekening.className = "node_tujuan_rekening";
                                node_tujuan_name.className = "node_tujuan_name";
                                node_nominal.className = "node_nominal";
                                node_jadwal.className = "node_jadwal";

                                const response = $.ajax({
                                    type: "POST",
                                    url: CHECK_RECEIVER,
                                    data: JSON.stringify({
                                        "target_account": REKENING_TUJUAN
                                    }),
                                    success: (data) => {
                                        NAMA_TUJUAN = data.username

                                        node_tujuan_rekening.append("(" + REKENING_TUJUAN + ")")
                                        node_tujuan_name.append(NAMA_TUJUAN);
                                        node_nominal.append(formatter.format(NOMINAL));
                                        node_jadwal.append(JADWAL_TRANSFER);

                                        // remove child before append
                                        const reset_nominal = document.getElementsByClassName('node_nominal');
                                        const reset_jadwal = document.getElementsByClassName('node_jadwal');
                                        const reset_tujuan_name = document.getElementsByClassName('node_tujuan_name');
                                        const reset_tujuan_rekening = document.getElementsByClassName('node_tujuan_rekening');

                                        while (reset_tujuan_name.length > 0) {
                                            reset_tujuan_name[0].parentNode.removeChild(reset_tujuan_name[0]);
                                        }
                                        while (reset_tujuan_rekening.length > 0) {
                                            reset_tujuan_rekening[0].parentNode.removeChild(reset_tujuan_rekening[0]);
                                        }
                                        while (reset_jadwal.length > 0) {
                                            reset_jadwal[0].parentNode.removeChild(reset_jadwal[0]);
                                        }
                                        while (reset_nominal.length > 0) {
                                            reset_nominal[0].parentNode.removeChild(reset_nominal[0]);
                                        }

                                        // append element child
                                        document.getElementById("nama-tujuan-transfer").appendChild(node_tujuan_name);
                                        document.getElementById("rekening-tujuan-transfer").appendChild(node_tujuan_rekening);
                                        document.getElementById("nominal-transfer").appendChild(node_nominal);
                                        document.getElementById("tanggal-transfer").appendChild(node_jadwal);

                                        // show modal
                                        document.getElementById("confirmation-overlay").style.display = "flex";
                                    },
                                    error: (data) => {
                                        node_tujuan_rekening.append("(" + REKENING_TUJUAN + ")")

                                        const reset_tujuan_rekening = document.getElementsByClassName('node_tujuan_rekening');
                                        while (reset_tujuan_rekening.length > 0) {
                                            reset_tujuan_rekening[0].parentNode.removeChild(reset_tujuan_rekening[0]);
                                        }

                                        document.getElementById("error-transfer").appendChild(node_tujuan_rekening);
                                        document.getElementById("not-found-overlay").style.display = "flex";
                                    },
                                    contentType: "application/json",
                                    dataType: 'json',
                                    async: false
                                });
                            }
                        } else {
                            alert("Mohon lengkapi input data!")
                        }
                    })
                })
        }
</script>
{% endblock %} {% block js %}
<script>
  $("#username").text(authenticatedUsername);
  // get access_token by using Cookies.get("access_token")
</script>
{% endblock %}
