{% extends 'base/base.html' %}

{% block content %}
<div class="vh-100 vw-100 d-flex flex-column justify-content-center align-items-center">
	<h1 class="mb-5">Selamat datang di Fintech XYZ!</h1>

	<h4>Silahkan mendaftar terlebih dahulu <br> untuk menggunakan layanan kami</h4>

	<a href="{% url 'register_page' %}"><button class="btn btn-primary my-5 px-3">Daftar</button></a>

	<p>Sudah mendaftar? <a href="{% url 'login_page' %}">Klik disini</a> untuk login</p>
</div>
{% endblock %}

{% block headerjs %}
<script>
needsToBeNotAuthenticated()
</script>
{% endblock %}